//Border
@mixin border($side:false, $color:$grey-light){
  @if $side {
    border-#{$side}: $border-style $border-width $color;
  } @else {
    border: $border-style $border-width $color;
  }
}

//Transition
@mixin transition($property, $duration:$transition-duration, $timing:$transition-timing,  $delay:0s){
	transition: $property $duration $timing $delay;
}

//Animations
@mixin animation($name, $seconds, $delay:0s){
	animation: $name $seconds infinite alternate $delay;
}

//Media queries
@mixin media($min-w, $max-w:false){
	@if $max-w {
		@media all and (min-width: $min-w) and (max-width: $max-w) {
			@content;
		}
	} @else {
		@media all and (min-width: $min-w) {
			@content;
		}
	}
}