.column {

	width: 100%;
	overflow: hidden;

	&.one-third {
		@include column(4);
	}

	&.two-third {
		@include column(8);
	}

	&.half {
		@include column(6);
	}

	&.one-fourth {
		@include column(3);
	}

	&.clear-l {
		margin-left: 0 !important;
	}

	&.clear-r {
		margin-right: 0 !important;
	}

	.mob {

	}

	@media $screen and $mobile {
		.col-1 {
			@include column(1);
		}
		.col-2 {
			@include column(2);
		}
		.col-3 {
			@include column(3);
		}
		.col-4 {
			@include column(4);
		}
		.col-5 {
			@include column(5);
		}
		.col-6 {
			@include column(6);
		}
		.col-7 {
			@include column(7);
		}
		.col-8 {
			@include column(8);
		}
		.col-9 {
			@include column(9);
		}
		.col-10 {
			@include column(10);
		}
	}

}