* {
	box-sizing: border-box;
}

html,body {
	margin: 0;
	padding: 0;
}

body {
	font: $body-weight $size-m $body-family;
	color: $base-color;
	background-color: $accent;
}

img {
	width: 100%;
}

.container {
	width: 960px;
	margin: 0 auto;
}

section {
	overflow: hidden;
}
