//Colors
$white: #F2F2F2;
$white-hover: darken($white, 5%);

$grey-1: darken(#FFFFFF, 10%);
$grey-2: darken(#FFFFFF, 20%);
$grey-3: darken(#FFFFFF, 30%);
$grey-4: darken(#FFFFFF, 40%);
$grey-5: darken(#FFFFFF, 50%);
$grey-6: darken(#FFFFFF, 60%);
$grey-7: darken(#FFFFFF, 70%);
$grey-8: darken(#FFFFFF, 80%);
$grey-9: darken(#FFFFFF, 90%);

$black: #000;

$primary: #31aec9;
$primary-dark: darken($primary, 10%);

$secondary: #2892ab;
$secondary-dark: darken($secondary, 10%);

$base-color: $grey-8;
$base-color-alt: $grey-2;

$error-red: #FF0000;


//Typography
$body-family: 'Font', Helvetica, Arial, sans-serif;
$body-weight: 300;
$body-weight-bold: 400;
$body-line-height: 1.5em;

$heading-family: 'Font', Helvetica, Arial, sans-serif;
$heading-weight: 300;
$heading-line-height: 1.3em;

$list-line-height: 1.8em;

$size-s: .9em;
$size-m: 16px;
$size-l: 1.1em;


//Spacings
$margin-xxs: 10px; //LI > SPAN RIGHT
$margin-xs: 20px; //LI BEFORE/FOOTER
$margin-s: 30px; //H1... P
$margin-m: 40px; //LOGOS
$margin-l: 70px; //SECTIONS
$margin-xl: 120px; //SECTIONS

$padding-s: 8px 15px;


//Borders
$border-style: solid;
$border-style-alt: dashed;
$border-size: 1px;
$border-radius: 5px;

//Transitions
$transition-duration: .3s;
$transition-timing: ease;

//Opacities
$opacity: .5;

// Media Queries
$screen: all;
$mobile: (max-width: 768px);
$tablet: (min-width: 768px) and (max-width: 1024px);
$desktop: (min-width: 1024px);