* {
	box-sizing: border-box;
}

html,body {
	margin: 0;
	padding: 0;
}

body {
	font: $body-weight $size-m $body-family;
	color: $base-color;

	line-height: $body-line-height;
}

.container {
	width: map-get($container-widths, "main");
	margin: 0 auto;
	overflow: hidden;
}