doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
		title= Portfolio
		link(rel="stylesheet", type="text/css", href="css/main.min.css")
		link(rel="stylesheet", type="text/css", href="fonts/ss-standard/ss-standard.css")
		link(rel="stylesheet", type="text/css", href="fonts/ss-social-regular/ss-social-regular.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script(src="js/main.js")

	body

		header
			.row
